@media screen and (max-device-width: 479px) {
	img {
		max-width: 100%;
	}
}

@media screen and (max-device-width: 576px) and (min-device-width: 480px) {
	img {
		max-width: 100%;
	}
}

@media screen and (max-device-width: 768px) and (min-device-width: 577px) {
	img {
		max-width: 100%;
	}
}

@media screen and (max-device-width: 992px) and (min-device-width: 769px) {
	img {
		max-width: 100%;
	}
}

@media all and (max-device-width: 1200px) and (min-device-width: 993px) {
	img {
		max-width: 100%;
	}
}

@media all and (max-device-width: 1400px) and (min-device-width: 1201px) {
	img {
		max-width: 100%;
	}
}

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: white;
    width: 100%;
    height: 100%;
    font-family: Gill Sans, sans-serif;
}

#skydka {
	background-color: Tomato;
	color: white;
	border-radius: 5px;
	font: bold;
	font-size: 11pt;
	font-stretch: 110%;
}

#skydka-opys {
	background-color: ForestGreen;
	color: white;
	border-radius: 5px;
	font: bold;
	font-size: 11pt;
	font-stretch: 110%;

	margin-left: 2%;
}

#opys {
	color: DeepSkyBlue;
}

#characteristic {
	color: dimgray;
}

#vidguky {
	color: black;
} 

#price-text {
	color: gray;
	font-size: 8pt;
}

#price {
	color: Tomato;
	font: bold;
	font-size: 16pt;
}

#cashback {
	background-color: Khaki;
	color: black;
	font-size: 9pt;
	height: 60%;
	border-radius: 2px;
	padding-left: 1%;
}

/*
.rating_block {
  width: 125px;
  height: 25px;
}
.rating_block input[type="radio"] {
  display: none;
}
.label_rating {
  float: right;
  display: block;
  width: 25px;
  height: 25px;
  background: url(img/rating.png) no-repeat 50% 0;
  cursor: pointer;
}
/*Пишем правила смены положения background-а*/
.rating_block .label_rating:hover, /*Правило для ховера на текущий лейбл*/
.rating_block .label_rating:hover ~ .label_rating, /*Правило для всех следующих лейблов по DOM дереву*/
.rating_block input[type="radio"]:checked ~ .label_rating /*Правило для всех следующих лейблов после выбранного инпута, чтобы звездочки как бы зафиксировались*/
{
  background-position: 50% -25px;
}

.checked {
    color: orange;
}